.logo{
    width: 15vw;
}
.carousel-caption {
    color: white;
    background: rgba(110, 150, 200, 0.7); 
}
.card{
     margin: 2%;
     width: 22rem;
     height: 29rem;
}
.card-deck{
    justify-content: center;
}

.carousel-inner {
    min-width: 300px;
    width: 69.5rem;
}

.carousel-control-next {
    margin-right: 13%; 
}
.carousel-control-prev {
    margin-left: 13%; 
}
.img-top{
    width: 40%;
    float: left;
    margin: 1%;
}
footer{
    text-align: center;
}